<link class="style" href="../Css/exat-traffic-year.css" rel="stylesheet" type="text/css">
<style>
		#Chart_exat_traffic_year_by_highway{
		/* width:200px;
		height:200px;
		margin-left:auto;
		margin-right:auto; */
		/*border:1px solid #cccccc;*/
	} 
</style>

<script type="text/javascript"> $(".YearSub").html($("#exatparamYearList").val()) ;</script>
        <div class="panel">
            <div class="panel-body bs-docs-traffic-year">
                <div class="row">
                    <div class="col-md-7 " id="col-null-hidden">&nbsp;</div>
                    <div class="col-md-5 ">
                        <div id="Chart_exat_traffic_year_by_traffic_accumulate_table" class="chart" ></div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ปริมาณจราจรแยกตามสายทาง จำแนกตามปีงบประมาณ</h3>
                            </div>
                            <div class="panel-body">
                                <br><br><br>
                                <div id="Chart_exat_traffic_year_by_highway" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ปริมาณจราจรเฉลี่ยรายวันแยกตามสายทาง จำแนกตามปีงบประมาณ</h3>
                            </div>
                            <div class="panel-body">
                                <br><br><br>
                                <div id="Chart_exat_traffic_year_by_highway_avgrage" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ปริมาณการผ่านทางพิเศษด้วยบัตรอัตโนมัติ (Easy Pass) 
                                	จำแนกตามด่านเก็บค่าผ่านทางพิเศษ <dd>เฉลี่ยรายวัน (จำนวนเที่ยว)
                                    ในปีงบประมาณ <span class="YearSub"></span> โดยแสดงอันดับสูงสุด (ทุกสายทาง)</dd>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <br><br>
                                <div id="Chart_exat_traffic_year_by_highway_and_easypass_max" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ปริมาณการผ่านทางพิเศษด้วยบัตรอัตโนมัติ (Easy Pass)
                                	จำแนกตามด่านเก็บค่าผ่านทางพิเศษ <dd>เฉลี่ยรายวัน (จำนวนเที่ยว)
                                    ในปีงบประมาณ <span class="YearSub"></span> โดยแสดงอันดับต่ำสุด (ทุกสายทาง)</dd>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <br><br>
                                <div id="Chart_exat_traffic_year_by_highway_and_easypass_min" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
