<link class="style" href="../Css/exat-easypass-card.css" rel="stylesheet" type="text/css">
<style>
		#Chart_exat_traffic_year_by_highway{
		/* width:200px;
		height:200px;
		margin-left:auto;
		margin-right:auto; */
		/*border:1px solid #cccccc;*/
	} 
</style>


<script type="text/javascript"> $(".YearSub").html($("#exatparamYearList").val()) ;</script>
<script type="text/javascript"> $(".YesterdaySub").html($("#exatparamYesterday").val()) ;</script>

        <div class="panel">
            <div class="panel-body bs-docs-easypass-card">
                <div class="row">
                    <div class="col-md-7" id="col-null-hidden">&nbsp;</div>
                    <div class="col-md-5">
                    	 <p id ="Yesterday" class="text-right"><span class="YesterdaySub"></span></p>
                        <div id="Chart_exat_easypass_by_easypass_accumulate_table" class = "chart"></div>
                         
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ข้อมูลสถาะบัตร EasyPass ปีงบประมาณ <span class="YearSubPie"></span></h3>
                            </div>
                            <div class="panel-body">
                            	<p class="text-right">หมายเหตุ : แสดงเฉพาะข้อมูลปีงบประมาณ 2558 ถึง ปีงบประมาณปัจจุบัน</p>
                                <div class="col-md-12">
                                    <div id="Chart_exat_easypass_by_data_easypass" class="chart"></div>
                                </div>
                                <!-- <p class="text-right">Panel content</p> -->
                                <div class="col-md-12">
                                    <div id="Chart_exat_easypass_by_data_easypass_table" class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ผู้ถือบัตรแยกตามประเภทลูกค้า ปีงบประมาณ <span class="YearSub"></span></h3>
                            </div>
                            <div class="panel-body">
                            <br>
                                <div class="col-md-12">
                                    <div id="Chart_exat_easypass_by_member_type" class="chart"></div>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div id="Chart_exat_easypass_by_member_type_table" class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ยอดการจำหน่ายบัตร ปีงบประมาณ <span class="YearSub"></span></h3>
                            </div>
                            <div class="panel-body">
                                <br><br><br>
                                <div id="Chart_exat_easypass_by_sales_easypass_accumulate_year" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center ">ยอดการจำหน่ายบัตร จำแนกตามเดือน ปีงบประมาณ <span class="YearSub"></span></h3>
                            </div>
                            <div class="panel-body">
                                <br><br><br>
                                <div id="Chart_exat_easypass_by_sales_easypass_accumulate_month" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    